@font-face {
  font-family: "Besley";
  src:
    url("/fonts/Besley-Regular.woff2") format("woff2"),
    url("/fonts/Besley-Regular.woff") format("woff"),
    url("/fonts/Besley-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
